alipay-sdk-python @ file:///root/Downloads/alipay_sdk_python-3.3.398-py3-none-any.whl
asgiref==3.2.10
cffi==1.14.0
click==7.1.2
cryptography==2.9.2
Django==1.11.7
django-debug-toolbar==2.2
django-redis==4.12.1
django-redis-cache==1.7.1
django-tinymce==3.0.2
djangorestframework==3.11.0
mysql==0.0.2
mysqlclient==1.4.6
Pillow==7.1.2
pyasn1==0.4.8
pycparser==2.20
pycrypto==2.6.1
pycryptodomex==3.9.4
PyMySQL==0.9.3
pyOpenSSL==19.1.0
python-alipay-sdk==2.0.1
pytz==2020.1
redis==2.10.6
rsa==4.6
six==1.15.0
sqlparse==0.3.1
svgwrite==1.4
Tree==0.2.4
uWSGI==2.0.19.1
